html {
    font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    padding-bottom: 70px;
    background-color: darkgray !important;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: 2px;
}

h2 {
    font-weight: 400;
    font-size: 4rem;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    color: #000;
}

h5 {
    font-size: 1.5rem;
}

.btn-primary {
    background-color: #161925;
    border-color: #161925;
    padding: 5px 30px;
}

.btn-primary:hover,
.btn-primary:active, 
.btn-primary:focus {
    background-color: #161925 !important;
    border-color: #161925 !important;
}

.learn a{
    color: #fff;
}

.title-underline0{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #23395B, #CBF7ED, #23395B);
    max-width: 350px;
}

.title-underline1{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #406E8E, #161925, #406E8E);
    max-width: 350px;
    margin-bottom: 50px;
}

.title-underline2{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #23395B, #406E8E, #23395B);
    max-width: 350px;
    margin-bottom: 50px;
}

.title-underline3{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #161925, #406E8E, #161925);
    max-width: 350px;
    margin-bottom: 50px;
}

.fragment {
    padding: 100px 0;
}

.fragment-one {
    background-color: #406E8E;
    color: #23395B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.fragment-one h1 {
    margin: 50px 0;
}

.fragment-one h3 {
    margin: 50px 0;
}

.fragment-one p, .fragment-two p {
    margin-bottom: 0;
}

.fragment-one i {
    margin-bottom:30px;
}

.fragment-two {
    background-color: #23395B;
    color: #CBF7ED;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.fragment-two h5 {
    margin: 50px 0;
    font-weight: 300;
    line-height: 1.3;
}

.fragment-two p {
    color: #406E8E
}

.fragment-three {
    background-color: #406E8E;
    color: #161925;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.fragment-three .carousel {
    max-width: 800px;
}

.fragment-three .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fragment-three .carousel-caption {
    color: #fff;
}

.fragment-three .custom-indicator {
    background-color: #161925 !important;
}

.fragment-four {
    background-color: #23395B;
    color: #406E8E;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.fragment-four i {
    color: #8EA8C3;
}

.fragment-four h2 {
    color: #8EA8C3;
}

.fragment-four .list-group-item {
    padding: 0.5em;
    color: #8EA8C3;
    background: #406E8E;
    border: 1px solid #161925;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 475px;
    margin-right: 475px;
}

.fragment-four .list-group-item:hover {
    transition-duration: 0.5s;
    background: #23395B;
}

.fragment-five {
    background-color: #161925;
    padding: 50px;
    color: #406E8E;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.fragment-five h3 {
    color:#8EA8C3;
}

.fragment-five h5 {
    font-weight: 300;
    line-height: 1.3;
}

.fragment-five .credential {
    color: #8EA8C3;
    margin-bottom: 50px;
    font-weight: 300;
}

.fragment-six {
    text-align: center;
    padding: 20px;
}

.fragment-six h6 {
    color: #161925;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.fragment-six .social-icon {
    color: #161925;
    font-size: 5rem;
    margin-right: 15px;
    margin-bottom: 20px;
}

.fragment-six .copyright {
	color: #161925 !important;
    margin: 10px 0;
    font-size: 0.8rem;
}
